<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="List Restaurant for you">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#14274e" />
    <link rel="apple-touch-icon" href="/icons/icon-152x152.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <!-- <script src="https://use.fontawesome.com/b070c8f1df.js"></script> -->
    <title>Restaurant Indo</title>
</head>

<body>
    <a href="#mainContent" class="skip-link">Skip to link!</a>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
            <h1>Restaurant Indo</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#mainContent">List</a></li>
                <li><a href="#/like">Favorite</a></li>
                <li><a href="https://www.instagram.com/irfanmusthafaa/">About Us</a></li>
            </ul>
        </nav>
    </header>

    <div class="jumbotron">
        <div tabindex="0" class="jumbotron__wrap">
            <h1 class="jumbotron__title">BEST RESTAURANT FROM INDONESIA</h1>
            <p class="jumbotron__tagline">
                Hai, buat kalian yang suka makan dan nonkrong di restoran / cafe wajib banget nih berkunjung ke The Resto Indo . Kini kami membuka beberapa cabang di Kota - Kota Indonesia.
            </p>
        </div>
    </div>
    <main>


        <main id="mainContent"></main>

        <footer>
            <p>Copyright @2021 <a href="https://instagram.com/irfanmusthafaa" target="_blank" rel="noreferrer">RestoIndo</a></p>
        </footer>
</body>

</html>