* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/*skip to link*/

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #14274e;
    color: white;
    text-decoration: none;
    padding: 8px;
    z-index: 100;
    font-size: 16px;
    font-weight: 500;
}

.skip-link:focus {
    top: 0;
}


/*
    AppBar
  */

.app-bar {
    padding: 8px 16px;
    background-color: #14274e;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
    display: flex;
    align-items: center;
}

#hamburgerButton {
    color: white;
    font-size: 44px;
}

.app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
}

.app-bar .app-bar__brand {
    display: flex;
    align-items: center;
}

.app-bar .app-bar__brand h1 {
    color: #f1f6f9;
    text-transform: uppercase;
    font-size: 22px;
    user-select: none;
}

.app-bar .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    background-color: #14274e;
    overflow: hidden;
}

.app-bar .app-bar__navigation.open {
    left: 0;
}

.app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: #f1f6f9;
    font-size: 30px;
    height: 44px;
    padding: 8px;
    margin-bottom: 5px;
    width: 100%;
}


/* JUMBOTRON */

.jumbotron {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 600px;
    width: 100%;
    text-align: center;
    background-image: url("../public/images/heros/hero-image_4.jpg");
    background-position: center;
    background-color: #aaaaaa;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: center;
    object-position: center;
}

.jumbotron__wrap {
    max-width: 58%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron__title {
    margin-top: 18px;
    color: white;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
}

.jumbotron__tagline {
    margin-top: 18px;
    margin-bottom: 18px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 20px;
}


/*
    Main Content
  */

main {
    padding: 32px;
    flex: 1;
}

.content {
    margin: 0 auto;
    min-height: 100%;
}

.content .content__heading {
    font-weight: normal;
}


/*
    Movies
  */

.restaurants {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 32px 0;
}


/*
    Movie Item
  */

.restaurant-item {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.restaurant-item__header {
    position: relative;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__poster {
    width: 100%;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__rating {
    position: absolute;
    padding: 8px;
    bottom: 20px;
    left: 0;
    display: inline-block;
    background-color: black;
    color: white;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__rating .restaurant-item__header__rating__score {
    margin-left: 10px;
}

.restaurant-item .restaurant-item__content {
    padding: 16px;
}

.restaurant-item .restaurant-item__content h3 {
    margin: 0 0 10px 0;
}

.restaurant-item .restaurant-item__content h3 a {
    color: #14274e;
    text-decoration: none;
    font-size: 25px;
    display: block;
    height: 44px;
}

.restaurant-item .restaurant-item__content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}


/*
    Restaurant
  */

.restaurant {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px 16px;
}

.restaurant .restaurant__poster {
    width: 100%;
    max-width: 400px;
}

.restaurant .restaurant__info h4 {
    margin: 8px 0;
    text-align: left;
}

.restaurant__overview p,
h5 {
    margin: 8px 0;
}


/*
    Footer
  */

footer {
    padding: 16px;
}

footer p {
    text-align: center;
    color: #aaaaaa;
}

footer p a {
    color: #14274e;
    text-decoration: none;
}


/*
   Like
*/

.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #db0000;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}